In [1]:
import pandas as pd

In [ ]:
csv_path = '../raw-data-csvs/'
activity_csv_name = 'activity.csv'
activity_df = pd.read_csv(csv_path + activity_csv_name)

In [6]:
activity_df.shape

(2176168, 4)

In [21]:
def get_first_last_dates(df):
    # Convert 'from_date' and 'to_date' to datetime if they're not already
    df['from_date'] = pd.to_datetime(df['from_date'])
    df['to_date'] = pd.to_datetime(df['to_date'])
    
    # Group by customer_id and subscription_id, then aggregate the first from_date and last to_date
    result_df = df.groupby(['customer_id', 'subscription_id'], as_index=False).agg(
        from_date=('from_date', 'min'),
        to_date=('to_date', 'max')
    )
    
    return result_df

def get_latest_subscription(df):
    # Convert 'from_date' and 'to_date' to datetime if they are not already
    df['from_date'] = pd.to_datetime(df['from_date'])
    df['to_date'] = pd.to_datetime(df['to_date'])
    
    # Sort by subscription_id to ensure we get the latest one
    df = df.sort_values('subscription_id', ascending=False)
    
    # Group by customer_id, from_date, and to_date and drop duplicates, keeping the latest subscription
    df = df.drop_duplicates(subset=['customer_id', 'from_date', 'to_date'], keep='first')
    
    return df

In [22]:
activity_clean_1_df = get_first_last_dates(activity_df)

In [23]:
activity_clean_1_df.shape

(1482002, 4)

In [24]:
activity_clean_1_df.head()

   customer_id  subscription_id  from_date    to_date
0            1                1 2019-01-04 2019-02-12
1            1            10016 2019-05-31 2019-05-31
2            1            13350 2019-06-17 2019-06-17
3            1            13524 2019-08-20 2019-08-22
4            1            28108 2020-01-29 2020-01-29

In [25]:
activity_clean_2_df = get_latest_subscription(activity_clean_1_df)

In [26]:
activity_clean_2_df.shape

(808850, 4)

In [27]:
activity_clean_2_df[(activity_clean_2_df['customer_id'] == 55798) & (activity_clean_2_df['from_date'] == '2021-01-29')]

       customer_id  subscription_id  from_date    to_date
60107        55798            73713 2021-01-29 2021-02-21

In [28]:
activity_clean_2_df[(activity_clean_2_df['customer_id'] == 55798)].sort_values(by='subscription_id', ascending=False)

       customer_id  subscription_id  from_date    to_date
60165        55798          1117094 2023-10-31 2023-11-08
60162        55798          1063251 2023-09-29 2023-10-10
60159        55798          1012049 2023-08-31 2023-09-01
60156        55798           961790 2023-07-31 2023-08-08
60153        55798           861860 2023-05-31 2023-07-01
60150        55798           817475 2023-04-29 2023-05-17
60147        55798           778875 2023-03-31 2023-04-12
60144        55798           735053 2023-03-01 2023-03-26
60141        55798           699871 2023-02-01 2023-02-16
60138        55798           657798 2022-12-30 2023-01-24
60135        55798           624873 2022-12-01 2022-12-17
60132        55798           585018 2022-10-29 2022-11-23
60129        55798           550077 2022-10-01 2022-10-25
60126        55798           507271 2022-08-29 2022-09-17
60123        55798           407595 2022-05-31 2022-08-10
60120        55798           316299 2022-03-01 2022-04-10
60118        55798           239960 2021-11-30 2022-02-19
60116        55798           174455 2021-08-28 2021-09-27
60115        55798           174454 2021-08-28 2021-09-28
60113        55798           118330 2021-05-28 2021-08-04
60110        55798            82603 2021-02-26 2021-05-01
60107        55798            73713 2021-01-29 2021-02-21
60104        55798            66340 2020-12-30 2021-01-22
60102        55798            50221 2020-09-30 2020-12-21
60101        55798            39479 2020-06-30 2020-09-23